{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
      "padded-blocks": 0,
      "brace-style": 0
  },
  "extends": "standard"
}