.Ed * {
  box-sizing: border-box;
  line-height: 1.5;
}

.Ed-Hints {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .Ed-Hints {
    display: flex;
  }
  .Ed-Hints button {
    width: 100% !important;
  }
}
