.Ed * {
  box-sizing: border-box;
  line-height: 1.5;
}

@media screen and (max-width: 500px) {
  .Ed .AddCover button,
  .Ed .AddFold button {
    width: 100% !important;
  }

  .Ed .Menu {
    width: 100%;
  }
  
  .Ed .DropdownGroup > button,
  .Ed .NavItem {
    font-size: 1rem !important;
    padding: 10px !important;
  }
}
