.AttributionEditor {
}

.AttributionEditor-title {
  font-size: 20px !important;
  line-height: 24px !important;
}

.AttributionEditor-links {
  text-align: right;
  top: -1px;
  position: relative;
}

.AttributionEditor-links > * {
  vertical-align: middle;
}

.AttributionEditor-metadata:hover {
  opacity: 1 !important;
}

@media screen and (min-width: 1000px){
  .AttributionEditor-cover {
    height: 768px !important;
  }
}