.AttributionEditor {
}

.AttributionEditor-title textarea {
  font-size: 32px !important;
  margin-top: 0 !important;
  line-height: 1.2;
}

.AttributionEditor-links {
  text-align: right;
  top: -1px;
  position: relative;
}

.AttributionEditor-links > * {
  vertical-align: middle;
}

.AttributionEditor-metadata:hover {
  opacity: 1 !important;
}

.AttributionEditor-metadata {
  padding: 1em !important;
}

@media screen and (min-width: 728px){
  .AttributionEditor-title textarea {
    font-size: 48px !important;
  }
  .AttributionEditor-metadata {
    padding: 2em 3em 0 !important;
  }
}
