[contenteditable]:focus {
  outline: 0px solid transparent;
}

.Ed {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

.Ed button:hover{
  color: #222 !important;
}

.ProseMirror {
  border: none;
}

.ProseMirror-content {
  font-family: Georgia, Times, serif;
  border: none;
  margin: 40px auto;
  padding: 1rem;
  white-space: pre-wrap;
  max-width: 856px;
}

.ProseMirror-content:after {
  content: 'Type here or paste links to images, articles, videos...';
  display: block; /* For Firefox */
  position: relative;
  opacity: .2;
  bottom: 0;
  /* Needed for click to correctly focus editable */
  z-index: -1;
}

.ProseMirror-focused .ProseMirror-content:after {
  content: '';
}



/* Font junk */

.ProseMirror-content > * {
  margin: 1.75rem 0px;
  padding: 0px;
}

.ProseMirror-content h1,
.ProseMirror-content h2,
.ProseMirror-content h3,
.ProseMirror-content h4,
.ProseMirror-content h5,
.ProseMirror-content h6 {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight: normal;
}

.ProseMirror-content img {
  max-width: 100%;
}

.ProseMirror-content h1 {
  font-size: 250%;
  line-height: 1.2 !important;
}

.ProseMirror-content h2 {
  font-size: 175%;
  line-height: 1.3 !important;
}

.ProseMirror-content h3 {
  font-size: 125%;
  line-height: 1.4 !important;
}

.ProseMirror-content h1 * {
  line-height: 1.2 !important;
}
.ProseMirror-content h2 * {
  line-height: 1.3 !important;
}
.ProseMirror-content h3 * {
  line-height: 1.4 !important;
}

.ProseMirror-content p * {
  font-size: 20px !important;
}

.ProseMirror-content blockquote {
  font-size: 110%;
  line-height: 1.45 !important;
}

.ProseMirror-content > blockquote {
  color: hsl(0,0%,30%);
  position: relative;
  padding-left: 1.5em;
  border-left: none;
  margin-left: 0;
  margin-right: 0;
}
.ProseMirror-content > blockquote:before {
  font-size: 250%;
  line-height: 100%;

  color: hsl(0, 0%, 70%);

  content: '“';
  font-family: Georgia;
  position: absolute;
  margin-top: 0;
  left: 0;
}

.ProseMirror-content p:first-child, .ProseMirror-content h1:first-child, .ProseMirror-content h2:first-child, .ProseMirror-content h3:first-child, .ProseMirror-content h4:first-child, .ProseMirror-content h5:first-child, .ProseMirror-content h6:first-child {
  margin-top: 0.3em;
  padding-top: 0px;
}

.ProseMirror-content li > p {
  margin-bottom: 0.3em
}

.ProseMirror-menubar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.ProseMirror-menuseparator {
  margin-right: 12px;
}

.ProseMirror-menuitem {
  margin-right: 6px;
}

.ProseMirror-menuitem:hover {
  color: #000;
}

.ProseMirror-tooltip {
  height: auto;
  padding: 10px 15px 7px;
  border-color: #ddd;
}
.ProseMirror-tooltip-pointer {
  border-top-color: #ccc;
}

.ProseMirror-prompt {
  padding: 1em;
}

.ProseMirror-prompt input[type='text']{
  padding: .5em 1em;
}

.ProseMirror-prompt .ProseMirror-prompt-close {
  left: auto;
  right: 5px;
}

.ProseMirror-content hr {
  width: calc(100% + 4em);
  left: -2em;
}

.ProseMirror-content hr::after {
  content: 'Adding content below this line will make a separate page for this post.';
  display: block;
  position: relative;
  opacity: 0.5;
  bottom: 0;
  text-align: center;
  font-size: 12px;
  padding: 0 2em;
}

/* Placeholder text hacks */
.ProseMirror-content > .empty {
  position: relative;
}
.ProseMirror-content > h1.empty::after {
  content: 'Title';
  opacity: 0.2;
  position: absolute;
  bottom: 0;
}
.ProseMirror-content > p.empty::after {
  content: '¶';
  opacity: 0.2;
  position: absolute;
  bottom: 0;
}


/* Responsive font size magic, small screen first */

.ProseMirror-content {
  font-size: 1.2rem;
}

@media screen and (min-width: 728px) {
  .ProseMirror-content {
    padding: 1rem 3rem 3rem 3rem;
  }
}
