[contenteditable]:focus {
  outline: 0px solid transparent;
}

.ProseMirror {
  border: none;
}

.ProseMirror-content {
  font-family: Georgia, Times, serif;
  border: none;
  margin: 0 auto;
  padding: 1rem 1rem 10rem 1rem;
  white-space: pre-wrap;
  max-width: 800px;
}

/* Show where to click when not focused */
.ProseMirror-content {
  background-color: lightgoldenrodyellow;
}
.ProseMirror-focused .ProseMirror-content {
  background-color: transparent;
}

/* Font junk */

.ProseMirror-content > * {
  margin: 2rem 0px;
  padding: 0px;
}

.ProseMirror-content h1, 
.ProseMirror-content h2, 
.ProseMirror-content h3, 
.ProseMirror-content h4, 
.ProseMirror-content h5, 
.ProseMirror-content h6 {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight: normal;
}

.ProseMirror-content img {
  max-width: 100%;
}

.ProseMirror-content h1 {
  font-size: 250%;
}
.ProseMirror-content h2 {
  font-size: 175%;
}
.ProseMirror-content h3 {
  font-size: 125%;
}
.ProseMirror-content p {
  font-size: 100%;
}
.ProseMirror-content blockquote {
  font-size: 110%;
}

.ProseMirror-content > blockquote {
  color: hsl(0,0%,30%);
  position: relative;
  padding-left: 1.5em;
  border-left: none;
  margin-left: 0;
  margin-right: 0;
}
.ProseMirror-content > blockquote:before {
  font-size: 250%;
  line-height: 100%;

  content: '“';
  font-family: Georgia;
  position: absolute;
  margin-top: 0;
  left: 0em;
  opacity: 0.3;
}
.ProseMirror-content blockquote > * {
  padding: 1rem 0px;
}

.ProseMirror-content p:first-child, .ProseMirror-content h1:first-child, .ProseMirror-content h2:first-child, .ProseMirror-content h3:first-child, .ProseMirror-content h4:first-child, .ProseMirror-content h5:first-child, .ProseMirror-content h6:first-child {
  margin-top: .3em;
  padding-top: 0px;
}

.ProseMirror-menubar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

/* Responsive font size magic, small screen first */

.ProseMirror-content {
  font-size: 1.1rem;
}
@media screen and (min-width:550px) {
  .ProseMirror-content {
    font-size: 1.5rem;
  }
}
