[contenteditable]:focus {
  outline: 0px solid transparent;
}

.ProseMirror-content:not(:focus):after {
  content: 'Type here or paste links to images, articles, videos...';
  display: block; /* For Firefox */
      position: relative;
      opacity: .2;
      bottom: 1em;

}

.Ed {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

.Ed button:hover{
  color: #222 !important;
}

.ProseMirror {
  border: none;
}

.ProseMirror-content {
  font-family: Georgia, Times, serif;
  border: none;
  margin: 40px auto;
  padding: 1rem;
  white-space: pre-wrap;
  max-width: 856px;
}

/* Show where to click when not focused */
.ProseMirror-content {
  /*border: 1px dashed #ddd;*/
  border-radius: 7px;
}


.ProseMirror-focused .ProseMirror-content {
  background-color: transparent;
  border: 1px solid #fff;
}

.ProseMirror-focused .ProseMirror-content:after {
  content: '';
}



/* Font junk */

.ProseMirror-content > * {
  margin: 2rem 0px;
  padding: 0px;
}

.ProseMirror-content h1,
.ProseMirror-content h2,
.ProseMirror-content h3,
.ProseMirror-content h4,
.ProseMirror-content h5,
.ProseMirror-content h6 {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight: normal;
}

.ProseMirror-content img {
  max-width: 100%;
}

.ProseMirror-content h1 {
  font-size: 250%;
}
.ProseMirror-content h2 {
  font-size: 175%;
}
.ProseMirror-content h3 {
  font-size: 125%;
}
.ProseMirror-content p {
  font-size: 100%;
}
.ProseMirror-content blockquote {
  font-size: 110%;
}

.ProseMirror-content > blockquote {
  color: hsl(0,0%,30%);
  position: relative;
  padding-left: 1.5em;
  border-left: none;
  margin-left: 0;
  margin-right: 0;
}
.ProseMirror-content > blockquote:before {
  font-size: 250%;
  line-height: 100%;

  color: hsl(0, 0%, 70%);

  content: '“';
  font-family: Georgia;
  position: absolute;
  margin-top: 0;
  left: 0;
}

.ProseMirror-content p:first-child, .ProseMirror-content h1:first-child, .ProseMirror-content h2:first-child, .ProseMirror-content h3:first-child, .ProseMirror-content h4:first-child, .ProseMirror-content h5:first-child, .ProseMirror-content h6:first-child {
  margin-top: 0.3em;
  padding-top: 0px;
}

.ProseMirror-content li > p {
  margin-bottom: 0.3em
}

.ProseMirror-menubar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.ProseMirror-menuseparator {
  margin-right: 12px;
}

.ProseMirror-menuitem {
  margin-right: 6px;
}

.ProseMirror-menuitem:hover {
  color: #000;
}

.ProseMirror-tooltip {
  height: auto;
  padding: 10px 15px 7px;
  border-color: #ddd;
}
.ProseMirror-tooltip-pointer {
  border-top-color: #ccc;
}

.ProseMirror-prompt {
  padding: 1em;
}

.ProseMirror-prompt input[type='text']{
  padding: .5em 1em;
}

.ProseMirror-prompt .ProseMirror-prompt-close {
  left: auto;
  right: 5px;
}
/* Responsive font size magic, small screen first */

.ProseMirror-content {
  font-size: 1.2rem;
}
@media screen and (min-width: 728px) {
  .ProseMirror-content {
    padding: 1rem 3rem 3rem 3rem;
  }
}
