.ProseMirror-menubar {
  max-width: 856px;
  margin: 0 auto;
  position: absolute;
  top: 0;
}

.ProseMirror-menuitem {
  cursor: pointer;
}

.ProseMirror-menubar .ProseMirror-icon,
.ProseMirror-menubar .ProseMirror-menu-dropdown,
.ProseMirror-menubar .EdMenuText {
  padding: 10px 12px;
}

.ProseMirror-menubar .ProseMirror-menu-dropdown {
  padding-right: 1.5rem;
}

.ProseMirror-menubar .ProseMirror-menu-dropdown:after {
  right: 0.5rem;
}

.ProseMirror-menu-dropdown-item {
  padding: 0.5rem 4px;
}

.ProseMirror-menuseparator {
  display: inline-block;
  height: 2rem;
  vertical-align: middle;
  margin: 0 3px;
}

.ProseMirror-menuitem {
  margin-right: 0;
}

.ProseMirror-menuitem:hover {
  color: #000;
}

/* Upload Image button */
.EdMenuText {
  cursor: pointer;
  font-size: 90%;
}

.ProseMirror-tooltip .ProseMirror-menuseparator {
  margin: 0 6px;
}
