.ProseMirror-menuitem {
  cursor: pointer;
}

.ProseMirror-menubar .ProseMirror-icon,
.ProseMirror-menubar .ProseMirror-menu-dropdown,
.ProseMirror-menubar .EdMenuText {
  padding: 0.75rem 1rem;
}

.ProseMirror-menubar .ProseMirror-menu-dropdown {
  padding-right: 1.5rem;
}

.ProseMirror-menubar .ProseMirror-menu-dropdown:after {
  right: 0.5rem;
}

.ProseMirror-menu-dropdown-item {
  padding: 0.5rem 4px;
}

.ProseMirror-menubar .ProseMirror-menuseparator {
  display: inline-block;
  height: 2rem;
  vertical-align: middle;
  margin: 0 3px;
}

.ProseMirror-menubar .ProseMirror-menuitem {
  margin-right: 0;
}

.ProseMirror-menuitem:hover {
  color: #000;
}

/* Upload Image button */

.EdMenuText {
  cursor: pointer;
}
