.FoldMedia .AttributionEditor-metadata {
  background: #fff;
  border: 1px solid hsl(0, 0%, 99%) !important;
  border-bottom: none !important;
  box-shadow: 0px -1px 1px hsla(0,0%,0%,0.2);
}

.FoldMedia .AttributionEditor-title textarea {
  font-size: 32px !important;
  margin-top: 0 !important;
  line-height: 1.2;
}

.FoldMedia .Placeholder {
  padding: 0 90px;
}

.Ed-Divider {
  opacity: .6;
  transition: opacity .2s;
}
.Ed-Divider:hover {
  opacity: 1;
}

@media screen and (min-width: 768px){
  .FoldMedia .AttributionEditor-metadata{
    max-width: 856px !important;
  }
  .FoldMedia .AttributionEditor-cover{
    min-height: 300px;
  }
  .Placeholder img {
    min-height: 100px !important;
  }
}
