.FoldMedia .AttributionEditor-cover{
  width: 100% !important;
  background: #ddd;
}

.FoldMedia .AttributionEditor-metadata {
  max-width: 62% !important;
  left: 19% !important;
  margin: 0px auto;
  padding: 2em 3em 0;
  background: #fff;
  bottom: 0;
  position: absolute !important;
  border: 1px solid #ddd;
}