.Image {
  width: 100%;
  max-height: 900px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;
}

.Image img{
  max-width: 100%;
  max-height: 95vh;
  display: block;
  margin: auto;
}
