.LabelText {
  padding-bottom: 0.5rem;
}

.LabelText-label {
  color: gray;
  font-family: San Francisco, Roboto, Avenir Next, sans-serif;
}

.LabelText-textarea {
  font-family: inherit;
  line-height: 1.5;
  min-height: none;
  display: block;
  width: 100%;
  padding: 0;
  resize: none;
  color: black;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  outline: none;
}
