.WidgetDefault {
}

.WidgetDefault-cover {
  width: 50%;
  max-width: 300px;
  height: 200px;
  float: left;
}

.WidgetDefault-metadata {
  padding: 1rem;
  margin-left: calc(300px + 1rem); /* FIXME make me smarter and responsive */
}

.WidgetDefault-title {
  font-size: 20px !important;
  line-height: 24px !important;
}

.WidgetDefault-links {
  padding: 0.5rem 0;
  text-align: right;
}

.WidgetDefault-links > * {
  vertical-align: middle;
}

@media screen and (max-width:550px) {
  .WidgetDefault-cover {
    float: none;
    width: 100%;
    max-width: 100%;
  }
  .WidgetDefault-metadata {
    margin-left: 0;
  }
}