* {
  box-sizing: border-box;
}
body {
  font-family: Georgia, Times, Times New Roman, serif;
  margin: 0;
  height: 100%;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: San Francisco, Roboto, Avenir Next, sans-serif;
  font-weight: normal;
}

#mirror {
  margin-left: 0em;
}
img {
  max-width: 100%;
}

h1 {
  font-size: 250%;
}
h2 {
  font-size: 175%;
}
h3 {
  font-size: 125%;
}
p {
  font-size: 100%;
}
blockquote {
  font-size: 110%;
}
