.EdSchemaMedia {
  display: block;
  margin: 1rem 0;
  width: 100%;
  cursor: default;
}

.EdSchemaMedia-placeholder {
  border: none;
}

.EdSchemaMedia.ProseMirror-selectednode {
  cursor: ns-resize;
}